/* This will be for the index.html page, maybe everything draws from this? */

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;

  background-image: url("dragon_red_black.jfif");
  background-size: cover;        /* Fill the screen */
  background-position: center;   /* Center the image */
  background-repeat: no-repeat;  /* Don't tile */
  background-attachment: fixed;  /* Optional: fixed while scrolling */
  min-height: 100vh;
}

/* 0 means it doesn't grow with browser size, 80px means it's always 80 pixels tall */
header {
  flex: 0 80px;
}

/* the flex-basis subtracts the height of both the header and footer */
main {
  flex: 1;
  flex-basis: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  max-width: 700px;      /* Try 600px–900px */
  margin: 1rem auto;   /* Center it horizontally */
  background-color: rgba(170,170,170,0.80);
  border-radius: 15px;
  padding: 2rem;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

/* Padding, as used here, is [vertical] [horizontal] */
menu .nav-item {
  padding: 0 0.3em;
}

/* This puts the link to the github in the right corner */
footer a {
  float: right;
}

.input-group {
    width: 50%;
    margin: auto;
}



/* This hides the header and footer if the browser is too small */
@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}